/* @import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap'); */
@font-face {
    font-family: BLANKA, sans-serif;
    src: url ('blanka-free-font-er/BLANKA\ Font/Blanka-Regular.otf') format ('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 0.7rem;
    font-family: BLANKA, sans-serif;
    transition: all 0.2s linear;
}

:root {
    --box-shodow: 0 0.5rem 0.5rem rgba(0, 0, 0);
    --mincolor: rgb(71, 71, 71);
    --sc-color: rgb(194, 143, 2)
}

html {

    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

html::-webkit-scrollbar {
    width: 0.1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5rem;
}

.heading {
    font-size: 6.2rem;
    color: var(--sc-color);
    padding: 1.5rem;
    text-align: center;
}

.heading:hover {
    letter-spacing: 0.4rem;
} 

.heading span {
    color: var(--mincolor);
} 


.home .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65rem;
    width: 100%;
    position: relative;
    font-family: monospace;
}

.home .home-content .home-i {
    position: absolute;
    flex-wrap: wrap;

}

.home .back-video {
    width: 100%;
    height: 65rem;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10;
    z-index: -1;
    
}
.home .home-content .home-i img{
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.home .home-content .home-i h1 {
    text-align: center;
    font-size: 6rem;
    letter-spacing: 1rem;
    position: relative;
}

.home .home-content .home-i h1::before {
    align-items: center;
    content: attr(data-text);
    position: absolute;
    color: #eee;
    width: 3.5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 7.8s linear infinite;
    filter: drop-shadow(0 0 20px rgb(243, 240, 240)) drop-shadow(0 0 50px rgb(255, 255, 255));
}


@keyframes animate {

    0%,
    10%,
    100% {
        width: 0rem;
    }


    70%,
    80% {
        width: 53rem;
    }
}

.home .home-content .home-i h2 {
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    font-family: monospace;
    text-align: center;
    letter-spacing: 0.5rem;
    color: #eee;
}

.home .home-content .home-i p {
    padding: 1rem;
    font-size: 2.5rem;
    font-family: monospace;
    text-align: center;
    color: #eee;

}

.intro .intro-content {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    width: 105%;
    text-align: center;
    position: relative;

}

.intro .intro-content .intro-i { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4%;
    margin: 8rem;
    flex-wrap: wrap;
    font-family: sans-serif;
}



.intro .intro-content .intro-i p {
    font-size: 2.5rem;
    color: #fff;
    font-family: monospace;
}

.questions {
    height: 100rem;
    width: 100%;
    background-color: rgb(0, 0, 0);

}

.questions.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.questions .image img {
    width: 30rem;
    height: 25rem;
    padding-left: 8rem;
    background-position: center;
    background-repeat: no-repeat;
}

.questions .content {
    background: rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);

}

.questions .content h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.questions .content p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.questions .content :hover {
    transform: translateY(0);
}

.working {

    min-height: 80rem;
    background-color: #000;
}

.working .row {
    padding: 4rem;
    justify-content:space-around;
    margin: 0 auto;
    width: 90%;
}

.working .row .image img {
    width: 30rem;
    height: 25rem;
    object-fit: cover;
}

.working .row .content {
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 2rem;
}

.working .row .content h3 {
    font-size: 3rem;
    margin: 0rem;
    color: #eee;
    letter-spacing: 0.5rem;
    font-family: monospace;
}

.working .row .content p {
    padding: 2rem;
    font-size: 1.9rem;
    color: #eee;
    font-family: monospace;
}

.quote .quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100%;
    position: relative;
    background-color: #fff;


}


.quote .quote-content .quote-i p {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-align: center;
    color: rgb(0, 0, 0);

}
.quote .quote-content .quote-i img{
    width: 20rem;
    height: 20rem;
}


.review {
    background: rgb(0, 0, 0);

}


.review .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60rem;
    width: 90%;
}

.review .row .box {
    text-align: center;
    padding: 7rem;
    border-radius: 1rem;

}

.review .row .box:hover {
    background: #eee;
    box-shadow: var(--box-shodow);
    transform: translateY(-1rem);
}

.review .row h1 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1rem;
    padding: 1.5rem;
    color: #fff;
    font-family: monospace;

}

.review .row h3 {
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    color: #fff;
    font-family: monospace;
}

.review .row input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--sc-color);
    height: 5rem;
    width: 80%;
    padding: 0.5rem 0.8rem;
    color: #fff;
    font-size: 2rem;
    font-family: monospace;
    text-transform: lowercase
}

.review .row button {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.8rem;
    font-family: monospace;
    background: var(--sc-color);
    cursor: pointer;
    font-size: 2rem;
    padding: 2rem;
    height: 3rem;
    width: 40%;
    color: #fff;
}

.review .row textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    background: #000;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--sc-color);
    height: 20rem;
    width: 80%;
    padding: 0.5rem 0.8rem;
    font-family: monospace;
    color: #fff;
    font-size: 2rem;
}
.full-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    
  }
  
  .flex-container-center {
    displaY: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  
  .full-screen{
    color: white
  }
  
  .hidden {
      display: none;
  }
  
  
  
.aboutus{
    min-height: 45rem;
    background-color: #000;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 2rem;
}

.container .box:hover .imgBox {
    transform: translate(-1.5rem, -1.5rem);
}

.container .box:hover .contents {
    transform: translate(3.5rem, 3.5rem);
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.imgBox img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
}

.contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.contents h6 {
    display: block;
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1rem;
}

.contents span {
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

@media (max-width: 600px) {
    .container .box:hover .contents {
        transform: translate(0, 3.5rem);
    }

    .container .box:hover .imgBox {
        transform: translate(0, -3.5rem);
    }
}

/* table {
    table-layout : fixed;
} */


.contact {
    height: 40rem;
    background: #000;
}

.contact .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 25rem;
    width: 90%;
    margin-bottom: 0;
}

.contact .row .formc h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
    font-family: monospace;
}

/* .contact .row .formc input{
    background: #000;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--sc-color);
    height: 2.3rem; width: 90%;
    color: rgb(172, 170, 170);
    font-size: 1.5rem;
} */
/* .contact .row .form-c input[type="submit"]{
    background: var(--sc-color);
    cursor: pointer;
    font-size: 1.5rem;
    height: 5rem; width: 90%;
    margin-bottom: 2rem;
    color: #fff;
}
.contact .row .form-c input[type="submit"]:hover{
    background: #fff;
    color: var(--sc-color);
} */
/* .contact .row textarea{
    background: #fff;
    border: 0.1rem solid var(--sc-color);
    height: 12rem; width: 90%;
    padding: 0.5rem 0.8rem; 
    font-size: 1.5rem;
} */
/* .popup{
    width: 100%;
    background: #fff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff;
} */

.footer {
    height: 27rem;
    text-align: center;
    background-color: #eee;
}

.footer .share {
    padding-top: 6rem;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: #000;
    border: 0.1rem solid var(--sc-color);
    margin: 0.3rem;
    text-decoration: none;
}

.footer p {
    padding: 1rem;
    font-size: 2rem;
    font-family: monospace;
    text-transform: lowercase;
}

.footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
    
}

.footer .links a {
    padding: 0.7rem 2rem;
    color: #000;
    border: 0.1rem solid var(--sc-color);
    font-size: 2rem;
    text-decoration: none;

}

.footer .links a:hover,
.footer .share a:hover {
    background: var(--sc-color);
}






@media screen and (max-width: 400px){
    html {
        font-size: 30%;
    }
}

 


